<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>СН-21</key>
	<array>
		<array>
			<array>
				<array>
					<dict>
						<key>startTime</key>
						<string>9:30</string>
						<key>endTime</key>
						<string>10:50</string>
						<key>classType</key>
						<string>Лекція</string>
						<key>subjectName</key>
						<string>Дискретна математика</string>
						<key>auditoryNumber</key>
						<string>К4-402</string>
					</dict>
					<dict>
						<key>startTime</key>
						<string>11:10</string>
						<key>endTime</key>
						<string>12:30</string>
						<key>classType</key>
						<string>Практична</string>
						<key>subjectName</key>
						<string>Дискретна математика</string>
						<key>auditoryNumber</key>
						<string>К4-402</string>
					</dict>
					<dict>
						<key>startTime</key>
						<string>13:00</string>
						<key>endTime</key>
						<string>14:20</string>
						<key>classType</key>
						<string>Практична</string>
						<key>subjectName</key>
						<string>Іноземна мова</string>
						<key>auditoryNumber</key>
						<string>К1-310</string>
					</dict>
					<dict>
						<key>startTime</key>
						<string>14:40</string>
						<key>endTime</key>
						<string>16:00</string>
						<key>classType</key>
						<string>Лабораторна</string>
						<key>subjectName</key>
						<string>Об&apos;єктно-орієнтоване програмування</string>
						<key>auditoryNumber</key>
						<string>К1-703</string>
					</dict>
				</array>
				<array>
					<dict>
						<key>startTime</key>
						<string>9:30</string>
						<key>endTime</key>
						<string>10:50</string>
						<key>classType</key>
						<string>Лекція</string>
						<key>subjectName</key>
						<string>Дискретна математика</string>
						<key>auditoryNumber</key>
						<string>К4-402</string>
					</dict>
					<dict>
						<key>startTime</key>
						<string>11:10</string>
						<key>endTime</key>
						<string>12:30</string>
						<key>classType</key>
						<string>Практична</string>
						<key>subjectName</key>
						<string>Дискретна математика</string>
						<key>auditoryNumber</key>
						<string>К4-402</string>
					</dict>
					<dict>
						<key>startTime</key>
						<string>13:00</string>
						<key>endTime</key>
						<string>14:20</string>
						<key>classType</key>
						<string>Практична</string>
						<key>subjectName</key>
						<string>Іноземна мова</string>
						<key>auditoryNumber</key>
						<string>К1-306</string>
					</dict>
				</array>
			</array>
			<array>
				<array>
					<dict>
						<key>startTime</key>
						<string>8:00</string>
						<key>endTime</key>
						<string>9:20</string>
						<key>classType</key>
						<string>Лекція</string>
						<key>subjectName</key>
						<string>Політологія</string>
						<key>auditoryNumber</key>
						<string>К6-12</string>
					</dict>
					<dict>
						<key>startTime</key>
						<string>9:30</string>
						<key>endTime</key>
						<string>10:50</string>
						<key>classType</key>
						<string>Практична</string>
						<key>subjectName</key>
						<string>Політологія</string>
						<key>auditoryNumber</key>
						<string>К1-303</string>
					</dict>
					<dict>
						<key>startTime</key>
						<string>11:10</string>
						<key>endTime</key>
						<string>12:30</string>
						<key>classType</key>
						<string>Практична</string>
						<key>subjectName</key>
						<string>Теорія ймовірностей і математична статистика</string>
						<key>auditoryNumber</key>
						<string>К1-701</string>
					</dict>
					<dict>
						<key>startTime</key>
						<string>14:40</string>
						<key>endTime</key>
						<string>16:00</string>
						<key>classType</key>
						<string>Практична</string>
						<key>subjectName</key>
						<string>Фізичне виховання</string>
						<key>auditoryNumber</key>
						<string>К10</string>
					</dict>
				</array>
				<array>
					<dict>
						<key>startTime</key>
						<string>8:00</string>
						<key>endTime</key>
						<string>9:20</string>
						<key>classType</key>
						<string>Лекція</string>
						<key>subjectName</key>
						<string>Політологія</string>
						<key>auditoryNumber</key>
						<string>К6-12</string>
					</dict>
					<dict>
						<key>startTime</key>
						<string>9:30</string>
						<key>endTime</key>
						<string>10:50</string>
						<key>classType</key>
						<string>Практична</string>
						<key>subjectName</key>
						<string>Політологія</string>
						<key>auditoryNumber</key>
						<string>К1-303</string>
					</dict>
					<dict>
						<key>startTime</key>
						<string>11:10</string>
						<key>endTime</key>
						<string>12:30</string>
						<key>classType</key>
						<string>Практична</string>
						<key>subjectName</key>
						<string>Теорія ймовірностей і математична статистика</string>
						<key>auditoryNumber</key>
						<string>К1-701</string>
					</dict>
					<dict>
						<key>startTime</key>
						<string>14:40</string>
						<key>endTime</key>
						<string>16:00</string>
						<key>classType</key>
						<string>Практична</string>
						<key>subjectName</key>
						<string>Фізичне виховання</string>
						<key>auditoryNumber</key>
						<string>К10</string>
					</dict>
				</array>
			</array>
			<array>
				<array>
					<dict>
						<key>startTime</key>
						<string>8:00</string>
						<key>endTime</key>
						<string>9:20</string>
						<key>classType</key>
						<string>Лабораторна</string>
						<key>subjectName</key>
						<string>Фізика</string>
						<key>auditoryNumber</key>
						<string>К2-18</string>
					</dict>
					<dict>
						<key>startTime</key>
						<string>9:30</string>
						<key>endTime</key>
						<string>10:50</string>
						<key>classType</key>
						<string>Лекція</string>
						<key>subjectName</key>
						<string>Українська мова</string>
						<key>auditoryNumber</key>
						<string>К2-68</string>
					</dict>
					<dict>
						<key>startTime</key>
						<string>11:10</string>
						<key>endTime</key>
						<string>12:30</string>
						<key>classType</key>
						<string>Практична</string>
						<key>subjectName</key>
						<string>Вища математика</string>
						<key>auditoryNumber</key>
						<string>К1-302</string>
					</dict>
					<dict>
						<key>startTime</key>
						<string>13:00</string>
						<key>endTime</key>
						<string>14:20</string>
						<key>classType</key>
						<string>Лекція</string>
						<key>subjectName</key>
						<string>Вища математика</string>
						<key>auditoryNumber</key>
						<string>К1-809</string>
					</dict>
					<dict>
						<key>startTime</key>
						<string>14:40</string>
						<key>endTime</key>
						<string>16:00</string>
						<key>classType</key>
						<string>Практична</string>
						<key>subjectName</key>
						<string>Німецька мова</string>
						<key>auditoryNumber</key>
						<string>К1-310</string>
					</dict>
				</array>
				<array>
					<dict>
						<key>startTime</key>
						<string>9:30</string>
						<key>endTime</key>
						<string>10:50</string>
						<key>classType</key>
						<string>Лекція</string>
						<key>subjectName</key>
						<string>Українська мова</string>
						<key>auditoryNumber</key>
						<string>К2-68</string>
					</dict>
					<dict>
						<key>startTime</key>
						<string>11:10</string>
						<key>endTime</key>
						<string>12:30</string>
						<key>classType</key>
						<string>Практична</string>
						<key>subjectName</key>
						<string>Вища математика</string>
						<key>auditoryNumber</key>
						<string>К1-302</string>
					</dict>
					<dict>
						<key>startTime</key>
						<string>13:00</string>
						<key>endTime</key>
						<string>14:20</string>
						<key>classType</key>
						<string>Лекція</string>
						<key>subjectName</key>
						<string>Вища математика</string>
						<key>auditoryNumber</key>
						<string>К1-809</string>
					</dict>
					<dict>
						<key>startTime</key>
						<string>14:40</string>
						<key>endTime</key>
						<string>16:00</string>
						<key>classType</key>
						<string>Практична</string>
						<key>subjectName</key>
						<string>Німецька мова</string>
						<key>auditoryNumber</key>
						<string>К1-310</string>
					</dict>
				</array>
			</array>
			<array>
				<array>
					<dict>
						<key>startTime</key>
						<string>8:00</string>
						<key>endTime</key>
						<string>9:20</string>
						<key>classType</key>
						<string>Практична</string>
						<key>subjectName</key>
						<string>Фізичне виховання</string>
						<key>auditoryNumber</key>
						<string>К10</string>
					</dict>
					<dict>
						<key>startTime</key>
						<string>13:00</string>
						<key>endTime</key>
						<string>14:20</string>
						<key>classType</key>
						<string>Лекція</string>
						<key>subjectName</key>
						<string>Електротехніка і електроніка</string>
						<key>auditoryNumber</key>
						<string>К7-404</string>
					</dict>
					<dict>
						<key>startTime</key>
						<string>14:40</string>
						<key>endTime</key>
						<string>16:00</string>
						<key>classType</key>
						<string>Лабораторна</string>
						<key>subjectName</key>
						<string>Електротехніка і електроніка</string>
						<key>auditoryNumber</key>
						<string>К7-109</string>
					</dict>
				</array>
				<array>
					<dict>
						<key>startTime</key>
						<string>8:00</string>
						<key>endTime</key>
						<string>9:20</string>
						<key>classType</key>
						<string>Практична</string>
						<key>subjectName</key>
						<string>Фізичне виховання</string>
						<key>auditoryNumber</key>
						<string>К10</string>
					</dict>
					<dict>
						<key>startTime</key>
						<string>11:10</string>
						<key>endTime</key>
						<string>12:30</string>
						<key>classType</key>
						<string>Лабораторна</string>
						<key>subjectName</key>
						<string>Електротехніка і електроніка</string>
						<key>auditoryNumber</key>
						<string>К7-109</string>
					</dict>
					<dict>
						<key>startTime</key>
						<string>13:00</string>
						<key>endTime</key>
						<string>14:20</string>
						<key>classType</key>
						<string>Лекція</string>
						<key>subjectName</key>
						<string>Електротехніка і електроніка</string>
						<key>auditoryNumber</key>
						<string>К7-404</string>
					</dict>
				</array>
			</array>
			<array>
				<array>
					<dict>
						<key>startTime</key>
						<string>11:10</string>
						<key>endTime</key>
						<string>12:30</string>
						<key>classType</key>
						<string>Лекція</string>
						<key>subjectName</key>
						<string>Фізика</string>
						<key>auditoryNumber</key>
						<string>К2-14</string>
					</dict>
					<dict>
						<key>startTime</key>
						<string>13:00</string>
						<key>endTime</key>
						<string>14:20</string>
						<key>classType</key>
						<string>Лекція</string>
						<key>subjectName</key>
						<string>Німецька мова</string>
						<key>auditoryNumber</key>
						<string>К1-309</string>
					</dict>
					<dict>
						<key>startTime</key>
						<string>14:40</string>
						<key>endTime</key>
						<string>16:00</string>
						<key>classType</key>
						<string>Практична</string>
						<key>subjectName</key>
						<string>Німецька мова</string>
						<key>auditoryNumber</key>
						<string>К1-309</string>
					</dict>
				</array>
				<array>
					<dict>
						<key>startTime</key>
						<string>8:00</string>
						<key>endTime</key>
						<string>9:20</string>
						<key>classType</key>
						<string>Лабораторна</string>
						<key>subjectName</key>
						<string>Об&apos;єктно-орієнтоване програмування</string>
						<key>auditoryNumber</key>
						<string>К1-501</string>
					</dict>
					<dict>
						<key>startTime</key>
						<string>11:10</string>
						<key>endTime</key>
						<string>12:30</string>
						<key>classType</key>
						<string>Лекція</string>
						<key>subjectName</key>
						<string>Фізика</string>
						<key>auditoryNumber</key>
						<string>К2-14</string>
					</dict>
					<dict>
						<key>startTime</key>
						<string>13:00</string>
						<key>endTime</key>
						<string>14:20</string>
						<key>classType</key>
						<string>Лекція</string>
						<key>subjectName</key>
						<string>Німецька мова</string>
						<key>auditoryNumber</key>
						<string>К1-309</string>
					</dict>
					<dict>
						<key>startTime</key>
						<string>14:40</string>
						<key>endTime</key>
						<string>16:00</string>
						<key>classType</key>
						<string>Практична</string>
						<key>subjectName</key>
						<string>Німецька мова</string>
						<key>auditoryNumber</key>
						<string>К1-309</string>
					</dict>
				</array>
			</array>
		</array>
		<array>
			<array>
				<array>
					<dict>
						<key>startTime</key>
						<string>9:30</string>
						<key>endTime</key>
						<string>10:50</string>
						<key>classType</key>
						<string>Лекція</string>
						<key>subjectName</key>
						<string>Дискретна математика</string>
						<key>auditoryNumber</key>
						<string>К4-402</string>
					</dict>
					<dict>
						<key>startTime</key>
						<string>11:10</string>
						<key>endTime</key>
						<string>12:30</string>
						<key>classType</key>
						<string>Практична</string>
						<key>subjectName</key>
						<string>Дискретна математика</string>
						<key>auditoryNumber</key>
						<string>К4-402</string>
					</dict>
					<dict>
						<key>startTime</key>
						<string>13:00</string>
						<key>endTime</key>
						<string>14:20</string>
						<key>classType</key>
						<string>Практична</string>
						<key>subjectName</key>
						<string>Іноземна мова</string>
						<key>auditoryNumber</key>
						<string>К1-310</string>
					</dict>
					<dict>
						<key>startTime</key>
						<string>14:40</string>
						<key>endTime</key>
						<string>16:00</string>
						<key>classType</key>
						<string>Лабораторна</string>
						<key>subjectName</key>
						<string>Об&apos;єктно-орієнтоване програмування</string>
						<key>auditoryNumber</key>
						<string>К1-703</string>
					</dict>
				</array>
				<array>
					<dict>
						<key>startTime</key>
						<string>9:30</string>
						<key>endTime</key>
						<string>10:50</string>
						<key>classType</key>
						<string>Лекція</string>
						<key>subjectName</key>
						<string>Дискретна математика</string>
						<key>auditoryNumber</key>
						<string>К4-402</string>
					</dict>
					<dict>
						<key>startTime</key>
						<string>11:10</string>
						<key>endTime</key>
						<string>12:30</string>
						<key>classType</key>
						<string>Практична</string>
						<key>subjectName</key>
						<string>Дискретна математика</string>
						<key>auditoryNumber</key>
						<string>К4-402</string>
					</dict>
					<dict>
						<key>startTime</key>
						<string>13:00</string>
						<key>endTime</key>
						<string>14:20</string>
						<key>classType</key>
						<string>Практична</string>
						<key>subjectName</key>
						<string>Іноземна мова</string>
						<key>auditoryNumber</key>
						<string>К1-306</string>
					</dict>
				</array>
			</array>
			<array>
				<array>
					<dict>
						<key>startTime</key>
						<string>8:00</string>
						<key>endTime</key>
						<string>9:20</string>
						<key>classType</key>
						<string>Практична</string>
						<key>subjectName</key>
						<string>ФІзика</string>
						<key>auditoryNumber</key>
						<string>К2-14</string>
					</dict>
					<dict>
						<key>startTime</key>
						<string>9:30</string>
						<key>endTime</key>
						<string>10:50</string>
						<key>classType</key>
						<string>Лекція</string>
						<key>subjectName</key>
						<string>Теорія ймовірностей і математична статистика</string>
						<key>auditoryNumber</key>
						<string>К1-701</string>
					</dict>
					<dict>
						<key>startTime</key>
						<string>11:10</string>
						<key>endTime</key>
						<string>12:30</string>
						<key>classType</key>
						<string>Практична</string>
						<key>subjectName</key>
						<string>Теорія ймовірностей і математична статистика</string>
						<key>auditoryNumber</key>
						<string>К1-701</string>
					</dict>
					<dict>
						<key>startTime</key>
						<string>14:40</string>
						<key>endTime</key>
						<string>16:00</string>
						<key>classType</key>
						<string>Практична</string>
						<key>subjectName</key>
						<string>Фізичне виховання</string>
						<key>auditoryNumber</key>
						<string>К10</string>
					</dict>
				</array>
				<array>
					<dict>
						<key>startTime</key>
						<string>8:00</string>
						<key>endTime</key>
						<string>9:20</string>
						<key>classType</key>
						<string>Практична</string>
						<key>subjectName</key>
						<string>ФІзика</string>
						<key>auditoryNumber</key>
						<string>К2-14</string>
					</dict>
					<dict>
						<key>startTime</key>
						<string>9:30</string>
						<key>endTime</key>
						<string>10:50</string>
						<key>classType</key>
						<string>Лекція</string>
						<key>subjectName</key>
						<string>Теорія ймовірностей і математична статистика</string>
						<key>auditoryNumber</key>
						<string>К1-701</string>
					</dict>
					<dict>
						<key>startTime</key>
						<string>11:10</string>
						<key>endTime</key>
						<string>12:30</string>
						<key>classType</key>
						<string>Практична</string>
						<key>subjectName</key>
						<string>Теорія ймовірностей і математична статистика</string>
						<key>auditoryNumber</key>
						<string>К1-701</string>
					</dict>
					<dict>
						<key>startTime</key>
						<string>14:40</string>
						<key>endTime</key>
						<string>16:00</string>
						<key>classType</key>
						<string>Практична</string>
						<key>subjectName</key>
						<string>Фізичне виховання</string>
						<key>auditoryNumber</key>
						<string>К10</string>
					</dict>
				</array>
			</array>
			<array>
				<array>
					<dict>
						<key>startTime</key>
						<string>9:30</string>
						<key>endTime</key>
						<string>10:50</string>
						<key>classType</key>
						<string>Лекція</string>
						<key>subjectName</key>
						<string>Українська мова</string>
						<key>auditoryNumber</key>
						<string>К2-68</string>
					</dict>
					<dict>
						<key>startTime</key>
						<string>11:10</string>
						<key>endTime</key>
						<string>12:30</string>
						<key>classType</key>
						<string>Практична</string>
						<key>subjectName</key>
						<string>Вища математика</string>
						<key>auditoryNumber</key>
						<string>К1-302</string>
					</dict>
					<dict>
						<key>startTime</key>
						<string>13:00</string>
						<key>endTime</key>
						<string>14:20</string>
						<key>classType</key>
						<string>Лекція</string>
						<key>subjectName</key>
						<string>Вища математика</string>
						<key>auditoryNumber</key>
						<string>К1-809</string>
					</dict>
					<dict>
						<key>startTime</key>
						<string>14:40</string>
						<key>endTime</key>
						<string>16:00</string>
						<key>classType</key>
						<string>Практична</string>
						<key>subjectName</key>
						<string>Німецька мова</string>
						<key>auditoryNumber</key>
						<string>К1-310</string>
					</dict>
				</array>
				<array>
					<dict>
						<key>startTime</key>
						<string>8:00</string>
						<key>endTime</key>
						<string>9:20</string>
						<key>classType</key>
						<string>Лабораторна</string>
						<key>subjectName</key>
						<string>Фізика</string>
						<key>auditoryNumber</key>
						<string>К2-18</string>
					</dict>
					<dict>
						<key>startTime</key>
						<string>9:30</string>
						<key>endTime</key>
						<string>10:50</string>
						<key>classType</key>
						<string>Лекція</string>
						<key>subjectName</key>
						<string>Українська мова</string>
						<key>auditoryNumber</key>
						<string>К2-68</string>
					</dict>
					<dict>
						<key>startTime</key>
						<string>11:10</string>
						<key>endTime</key>
						<string>12:30</string>
						<key>classType</key>
						<string>Практична</string>
						<key>subjectName</key>
						<string>Вища математика</string>
						<key>auditoryNumber</key>
						<string>К1-302</string>
					</dict>
					<dict>
						<key>startTime</key>
						<string>13:00</string>
						<key>endTime</key>
						<string>14:20</string>
						<key>classType</key>
						<string>Лекція</string>
						<key>subjectName</key>
						<string>Вища математика</string>
						<key>auditoryNumber</key>
						<string>К1-809</string>
					</dict>
					<dict>
						<key>startTime</key>
						<string>14:40</string>
						<key>endTime</key>
						<string>16:00</string>
						<key>classType</key>
						<string>Практична</string>
						<key>subjectName</key>
						<string>Німецька мова</string>
						<key>auditoryNumber</key>
						<string>К1-310</string>
					</dict>
				</array>
			</array>
			<array>
				<array>
					<dict>
						<key>startTime</key>
						<string>8:00</string>
						<key>endTime</key>
						<string>9:20</string>
						<key>classType</key>
						<string>Практична</string>
						<key>subjectName</key>
						<string>Фізичне виховання</string>
						<key>auditoryNumber</key>
						<string>К10</string>
					</dict>
					<dict>
						<key>startTime</key>
						<string>13:00</string>
						<key>endTime</key>
						<string>14:20</string>
						<key>classType</key>
						<string>Лекція</string>
						<key>subjectName</key>
						<string>Електротехніка і електроніка</string>
						<key>auditoryNumber</key>
						<string>К7-504</string>
					</dict>
					<dict>
						<key>startTime</key>
						<string>14:40</string>
						<key>endTime</key>
						<string>16:00</string>
						<key>classType</key>
						<string>Лабораторна</string>
						<key>subjectName</key>
						<string>Електротехніка і електроніка</string>
						<key>auditoryNumber</key>
						<string>К7-109</string>
					</dict>
				</array>
				<array>
					<dict>
						<key>startTime</key>
						<string>8:00</string>
						<key>endTime</key>
						<string>9:20</string>
						<key>classType</key>
						<string>Практична</string>
						<key>subjectName</key>
						<string>Фізичне виховання</string>
						<key>auditoryNumber</key>
						<string>К10</string>
					</dict>
					<dict>
						<key>startTime</key>
						<string>11:10</string>
						<key>endTime</key>
						<string>12:30</string>
						<key>classType</key>
						<string>Лабораторна</string>
						<key>subjectName</key>
						<string>Електротехніка і електроніка</string>
						<key>auditoryNumber</key>
						<string>К7-109</string>
					</dict>
					<dict>
						<key>startTime</key>
						<string>13:00</string>
						<key>endTime</key>
						<string>14:20</string>
						<key>classType</key>
						<string>Лекція</string>
						<key>subjectName</key>
						<string>Електротехніка і електроніка</string>
						<key>auditoryNumber</key>
						<string>К7-504</string>
					</dict>
				</array>
			</array>
			<array>
				<array>
					<dict>
						<key>startTime</key>
						<string>9:30</string>
						<key>endTime</key>
						<string>10:50</string>
						<key>classType</key>
						<string>Практична</string>
						<key>subjectName</key>
						<string>Українська мова</string>
						<key>auditoryNumber</key>
						<string>К1-311</string>
					</dict>
					<dict>
						<key>startTime</key>
						<string>11:10</string>
						<key>endTime</key>
						<string>12:30</string>
						<key>classType</key>
						<string>Лекція</string>
						<key>subjectName</key>
						<string>Фізика</string>
						<key>auditoryNumber</key>
						<string>К2-14</string>
					</dict>
					<dict>
						<key>startTime</key>
						<string>13:00</string>
						<key>endTime</key>
						<string>14:20</string>
						<key>classType</key>
						<string>Лекція</string>
						<key>subjectName</key>
						<string>Німецька мова</string>
						<key>auditoryNumber</key>
						<string>К1-309</string>
					</dict>
					<dict>
						<key>startTime</key>
						<string>14:40</string>
						<key>endTime</key>
						<string>16:00</string>
						<key>classType</key>
						<string>Практична</string>
						<key>subjectName</key>
						<string>Німецька мова</string>
						<key>auditoryNumber</key>
						<string>К1-309</string>
					</dict>
				</array>
				<array>
					<dict>
						<key>startTime</key>
						<string>8:00</string>
						<key>endTime</key>
						<string>9:20</string>
						<key>classType</key>
						<string>Лабораторна</string>
						<key>subjectName</key>
						<string>Об&apos;єктно-орієнтоване програмування</string>
						<key>auditoryNumber</key>
						<string>К1-501</string>
					</dict>
					<dict>
						<key>startTime</key>
						<string>9:30</string>
						<key>endTime</key>
						<string>10:50</string>
						<key>classType</key>
						<string>Практична</string>
						<key>subjectName</key>
						<string>Українська мова</string>
						<key>auditoryNumber</key>
						<string>К1-311</string>
					</dict>
					<dict>
						<key>startTime</key>
						<string>11:10</string>
						<key>endTime</key>
						<string>12:30</string>
						<key>classType</key>
						<string>Лекція</string>
						<key>subjectName</key>
						<string>Фізика</string>
						<key>auditoryNumber</key>
						<string>К2-14</string>
					</dict>
					<dict>
						<key>startTime</key>
						<string>13:00</string>
						<key>endTime</key>
						<string>14:20</string>
						<key>classType</key>
						<string>Лекція</string>
						<key>subjectName</key>
						<string>Німецька мова</string>
						<key>auditoryNumber</key>
						<string>К1-309</string>
					</dict>
					<dict>
						<key>startTime</key>
						<string>14:40</string>
						<key>endTime</key>
						<string>16:00</string>
						<key>classType</key>
						<string>Практична</string>
						<key>subjectName</key>
						<string>Німецька мова</string>
						<key>auditoryNumber</key>
						<string>К1-309</string>
					</dict>
				</array>
			</array>
		</array>
	</array>
	<key>СП-21</key>
	<array>
		<array>
			<array>
				<array>
					<dict>
						<key>startTime</key>
						<string>9:30</string>
						<key>endTime</key>
						<string>10:50</string>
						<key>classType</key>
						<string>Лекція</string>
						<key>subjectName</key>
						<string>Філософія</string>
						<key>auditoryNumber</key>
						<string>К8-12</string>
					</dict>
					<dict>
						<key>startTime</key>
						<string>11:10</string>
						<key>endTime</key>
						<string>12:30</string>
						<key>classType</key>
						<string>Практична</string>
						<key>subjectName</key>
						<string>Іноземна мова</string>
						<key>auditoryNumber</key>
						<string>К1-306</string>
					</dict>
					<dict>
						<key>startTime</key>
						<string>13:00</string>
						<key>endTime</key>
						<string>14:20</string>
						<key>classType</key>
						<string>Практична</string>
						<key>subjectName</key>
						<string>Математичний аналіз</string>
						<key>auditoryNumber</key>
						<string>К4-402</string>
					</dict>
					<dict>
						<key>startTime</key>
						<string>14:40</string>
						<key>endTime</key>
						<string>16:00</string>
						<key>classType</key>
						<string>Лекція</string>
						<key>subjectName</key>
						<string>Мова програмування JAVA</string>
						<key>auditoryNumber</key>
						<string>К1-101</string>
					</dict>
				</array>
				<array>
					<dict>
						<key>startTime</key>
						<string>9:30</string>
						<key>endTime</key>
						<string>10:50</string>
						<key>classType</key>
						<string>Лекція</string>
						<key>subjectName</key>
						<string>Філософія</string>
						<key>auditoryNumber</key>
						<string>К8-12</string>
					</dict>
					<dict>
						<key>startTime</key>
						<string>13:00</string>
						<key>endTime</key>
						<string>14:20</string>
						<key>classType</key>
						<string>Практична</string>
						<key>subjectName</key>
						<string>Математичний аналіз</string>
						<key>auditoryNumber</key>
						<string>К4-402</string>
					</dict>
					<dict>
						<key>startTime</key>
						<string>14:40</string>
						<key>endTime</key>
						<string>16:00</string>
						<key>classType</key>
						<string>Лекція</string>
						<key>subjectName</key>
						<string>Мова програмування JAVA</string>
						<key>auditoryNumber</key>
						<string>К1-101</string>
					</dict>
				</array>
			</array>
			<array>
				<array>
					<dict>
						<key>startTime</key>
						<string>9:30</string>
						<key>endTime</key>
						<string>10:50</string>
						<key>classType</key>
						<string>Лабораторна</string>
						<key>subjectName</key>
						<string>Об&apos;єктно-орієнтоване програмування</string>
						<key>auditoryNumber</key>
						<string>К1-106</string>
					</dict>
					<dict>
						<key>startTime</key>
						<string>11:10</string>
						<key>endTime</key>
						<string>12:30</string>
						<key>classType</key>
						<string>Лабораторна</string>
						<key>subjectName</key>
						<string>Мова програмування JAVA</string>
						<key>auditoryNumber</key>
						<string>К1-106</string>
					</dict>
					<dict>
						<key>startTime</key>
						<string>14:40</string>
						<key>endTime</key>
						<string>16:00</string>
						<key>classType</key>
						<string>Практична</string>
						<key>subjectName</key>
						<string>Фізичне виховання</string>
						<key>auditoryNumber</key>
						<string>К10</string>
					</dict>
				</array>
				<array>
					<dict>
						<key>startTime</key>
						<string>8:00</string>
						<key>endTime</key>
						<string>9:20</string>
						<key>classType</key>
						<string>Лабораторна</string>
						<key>subjectName</key>
						<string>Об&apos;єктно-орієнтоване програмування</string>
						<key>auditoryNumber</key>
						<string>К1-106</string>
					</dict>
					<dict>
						<key>startTime</key>
						<string>9:30</string>
						<key>endTime</key>
						<string>10:50</string>
						<key>classType</key>
						<string>Лабораторна</string>
						<key>subjectName</key>
						<string>Мова програмування JAVA</string>
						<key>auditoryNumber</key>
						<string>К1-101</string>
					</dict>
					<dict>
						<key>startTime</key>
						<string>14:40</string>
						<key>endTime</key>
						<string>16:00</string>
						<key>classType</key>
						<string>Практична</string>
						<key>subjectName</key>
						<string>Фізичне виховання</string>
						<key>auditoryNumber</key>
						<string>К10</string>
					</dict>
				</array>
			</array>
			<array>
				<array>
					<dict>
						<key>startTime</key>
						<string>9:30</string>
						<key>endTime</key>
						<string>10:50</string>
						<key>classType</key>
						<string>Лекція</string>
						<key>subjectName</key>
						<string>Українська мова за професійним спрямуванням</string>
						<key>auditoryNumber</key>
						<string>К2-68</string>
					</dict>
				</array>
				<array>
					<dict>
						<key>startTime</key>
						<string>8:00</string>
						<key>endTime</key>
						<string>9:20</string>
						<key>classType</key>
						<string>Практична</string>
						<key>subjectName</key>
						<string>Іноземна мова</string>
						<key>auditoryNumber</key>
						<string>К1-308</string>
					</dict>
					<dict>
						<key>startTime</key>
						<string>9:30</string>
						<key>endTime</key>
						<string>10:50</string>
						<key>classType</key>
						<string>Лекція</string>
						<key>subjectName</key>
						<string>Українська мова за професійним спрямуванням</string>
						<key>auditoryNumber</key>
						<string>К2-68</string>
					</dict>
				</array>
			</array>
			<array>
				<array>
					<dict>
						<key>startTime</key>
						<string>8:00</string>
						<key>endTime</key>
						<string>9:20</string>
						<key>classType</key>
						<string>Практична</string>
						<key>subjectName</key>
						<string>Фізичне виховання</string>
						<key>auditoryNumber</key>
						<string>К10</string>
					</dict>
					<dict>
						<key>startTime</key>
						<string>11:10</string>
						<key>endTime</key>
						<string>12:30</string>
						<key>classType</key>
						<string>Лекція</string>
						<key>subjectName</key>
						<string>Математичний аналіз</string>
						<key>auditoryNumber</key>
						<string>К4-204</string>
					</dict>
					<dict>
						<key>startTime</key>
						<string>13:00</string>
						<key>endTime</key>
						<string>14:20</string>
						<key>classType</key>
						<string>Лекція</string>
						<key>subjectName</key>
						<string>Математичний аналіз</string>
						<key>auditoryNumber</key>
						<string>К8-23</string>
					</dict>
				</array>
				<array>
					<dict>
						<key>startTime</key>
						<string>8:00</string>
						<key>endTime</key>
						<string>9:20</string>
						<key>classType</key>
						<string>Практична</string>
						<key>subjectName</key>
						<string>Фізичне виховання</string>
						<key>auditoryNumber</key>
						<string>К10</string>
					</dict>
					<dict>
						<key>startTime</key>
						<string>11:10</string>
						<key>endTime</key>
						<string>12:30</string>
						<key>classType</key>
						<string>Лекція</string>
						<key>subjectName</key>
						<string>Математичний аналіз</string>
						<key>auditoryNumber</key>
						<string>К4-204</string>
					</dict>
					<dict>
						<key>startTime</key>
						<string>13:00</string>
						<key>endTime</key>
						<string>14:20</string>
						<key>classType</key>
						<string>Лекція</string>
						<key>subjectName</key>
						<string>Математичний аналіз</string>
						<key>auditoryNumber</key>
						<string>К8-23</string>
					</dict>
				</array>
			</array>
			<array>
				<array>
					<dict>
						<key>startTime</key>
						<string>9:30</string>
						<key>endTime</key>
						<string>10:50</string>
						<key>classType</key>
						<string>Лекція</string>
						<key>subjectName</key>
						<string>Об&apos;єктно-орієнтоване програмування</string>
						<key>auditoryNumber</key>
						<string>К1-101</string>
					</dict>
					<dict>
						<key>startTime</key>
						<string>11:10</string>
						<key>endTime</key>
						<string>12:30</string>
						<key>classType</key>
						<string>Практична</string>
						<key>subjectName</key>
						<string>Безпека життєдіяльності</string>
						<key>auditoryNumber</key>
						<string>К8-21</string>
					</dict>
					<dict>
						<key>startTime</key>
						<string>13:00</string>
						<key>endTime</key>
						<string>14:20</string>
						<key>classType</key>
						<string>Лекція</string>
						<key>subjectName</key>
						<string>Економічна теорія</string>
						<key>auditoryNumber</key>
						<string>К8-13</string>
					</dict>
				</array>
				<array>
					<dict>
						<key>startTime</key>
						<string>8:00</string>
						<key>endTime</key>
						<string>9:20</string>
						<key>classType</key>
						<string>Лабораторна</string>
						<key>subjectName</key>
						<string>Об&apos;єктно-орієнтоване програмування</string>
						<key>auditoryNumber</key>
						<string>К1-101</string>
					</dict>
					<dict>
						<key>startTime</key>
						<string>9:30</string>
						<key>endTime</key>
						<string>10:50</string>
						<key>classType</key>
						<string>Лекція</string>
						<key>subjectName</key>
						<string>Об&apos;єктно-орієнтоване програмування</string>
						<key>auditoryNumber</key>
						<string>К1-101</string>
					</dict>
					<dict>
						<key>startTime</key>
						<string>11:10</string>
						<key>endTime</key>
						<string>12:30</string>
						<key>classType</key>
						<string>Практична</string>
						<key>subjectName</key>
						<string>Безпека життєдіяльності</string>
						<key>auditoryNumber</key>
						<string>К8-21</string>
					</dict>
					<dict>
						<key>startTime</key>
						<string>13:00</string>
						<key>endTime</key>
						<string>14:20</string>
						<key>classType</key>
						<string>Лекція</string>
						<key>subjectName</key>
						<string>Економічна теорія</string>
						<key>auditoryNumber</key>
						<string>К8-13</string>
					</dict>
				</array>
			</array>
		</array>
		<array>
			<array>
				<array>
					<dict>
						<key>startTime</key>
						<string>9:30</string>
						<key>endTime</key>
						<string>10:50</string>
						<key>classType</key>
						<string>Лекція</string>
						<key>subjectName</key>
						<string>Філософія</string>
						<key>auditoryNumber</key>
						<string>К8-12</string>
					</dict>
					<dict>
						<key>startTime</key>
						<string>11:10</string>
						<key>endTime</key>
						<string>12:30</string>
						<key>classType</key>
						<string>Практична</string>
						<key>subjectName</key>
						<string>Іноземна мова</string>
						<key>auditoryNumber</key>
						<string>К1-306</string>
					</dict>
					<dict>
						<key>startTime</key>
						<string>13:00</string>
						<key>endTime</key>
						<string>14:20</string>
						<key>classType</key>
						<string>Практична</string>
						<key>subjectName</key>
						<string>Математичний аналіз</string>
						<key>auditoryNumber</key>
						<string>К2-86</string>
					</dict>
					<dict>
						<key>startTime</key>
						<string>14:40</string>
						<key>endTime</key>
						<string>16:00</string>
						<key>classType</key>
						<string>Лекція</string>
						<key>subjectName</key>
						<string>Мова програмування JAVA</string>
						<key>auditoryNumber</key>
						<string>К1-101</string>
					</dict>
				</array>
				<array>
					<dict>
						<key>startTime</key>
						<string>9:30</string>
						<key>endTime</key>
						<string>10:50</string>
						<key>classType</key>
						<string>Лекція</string>
						<key>subjectName</key>
						<string>Філософія</string>
						<key>auditoryNumber</key>
						<string>К8-12</string>
					</dict>
					<dict>
						<key>startTime</key>
						<string>13:00</string>
						<key>endTime</key>
						<string>14:20</string>
						<key>classType</key>
						<string>Практична</string>
						<key>subjectName</key>
						<string>Математичний аналіз</string>
						<key>auditoryNumber</key>
						<string>К2-86</string>
					</dict>
					<dict>
						<key>startTime</key>
						<string>14:40</string>
						<key>endTime</key>
						<string>16:00</string>
						<key>classType</key>
						<string>Лекція</string>
						<key>subjectName</key>
						<string>Мова програмування JAVA</string>
						<key>auditoryNumber</key>
						<string>К1-101</string>
					</dict>
				</array>
			</array>
			<array>
				<array>
					<dict>
						<key>startTime</key>
						<string>9:30</string>
						<key>endTime</key>
						<string>10:50</string>
						<key>classType</key>
						<string>Лабораторна</string>
						<key>subjectName</key>
						<string>Об&apos;єктно-орієнтоване програмування</string>
						<key>auditoryNumber</key>
						<string>К1-106</string>
					</dict>
					<dict>
						<key>startTime</key>
						<string>11:10</string>
						<key>endTime</key>
						<string>12:30</string>
						<key>classType</key>
						<string>Лабораторна</string>
						<key>subjectName</key>
						<string>Мова програмування JAVA</string>
						<key>auditoryNumber</key>
						<string>К1-106</string>
					</dict>
					<dict>
						<key>startTime</key>
						<string>14:40</string>
						<key>endTime</key>
						<string>16:00</string>
						<key>classType</key>
						<string>Практична</string>
						<key>subjectName</key>
						<string>Фізичне виховання</string>
						<key>auditoryNumber</key>
						<string>К10</string>
					</dict>
				</array>
				<array>
					<dict>
						<key>startTime</key>
						<string>8:00</string>
						<key>endTime</key>
						<string>9:20</string>
						<key>classType</key>
						<string>Лабораторна</string>
						<key>subjectName</key>
						<string>Об&apos;єктно-орієнтоване програмування</string>
						<key>auditoryNumber</key>
						<string>К1-101</string>
					</dict>
					<dict>
						<key>startTime</key>
						<string>9:30</string>
						<key>endTime</key>
						<string>10:50</string>
						<key>classType</key>
						<string>Лабораторна</string>
						<key>subjectName</key>
						<string>Мова програмування JAVA</string>
						<key>auditoryNumber</key>
						<string>К1-101</string>
					</dict>
					<dict>
						<key>startTime</key>
						<string>14:40</string>
						<key>endTime</key>
						<string>16:00</string>
						<key>classType</key>
						<string>Практична</string>
						<key>subjectName</key>
						<string>Фізичне виховання</string>
						<key>auditoryNumber</key>
						<string>К10</string>
					</dict>
				</array>
			</array>
			<array>
				<array>
					<dict>
						<key>startTime</key>
						<string>8:00</string>
						<key>endTime</key>
						<string>9:20</string>
						<key>classType</key>
						<string>Лекція</string>
						<key>subjectName</key>
						<string>Безпека життєдіяльності</string>
						<key>auditoryNumber</key>
						<string>К8-22</string>
					</dict>
					<dict>
						<key>startTime</key>
						<string>9:30</string>
						<key>endTime</key>
						<string>10:50</string>
						<key>classType</key>
						<string>Практична</string>
						<key>subjectName</key>
						<string>Філософія</string>
						<key>auditoryNumber</key>
						<string>К1-303</string>
					</dict>
					<dict>
						<key>startTime</key>
						<string>11:10</string>
						<key>endTime</key>
						<string>12:30</string>
						<key>classType</key>
						<string>Практична</string>
						<key>subjectName</key>
						<string>Економічна теорія</string>
						<key>auditoryNumber</key>
						<string>К8-13</string>
					</dict>
				</array>
				<array>
					<dict>
						<key>startTime</key>
						<string>8:00</string>
						<key>endTime</key>
						<string>9:20</string>
						<key>classType</key>
						<string>Лекція</string>
						<key>subjectName</key>
						<string>Безпека життєдіяльності</string>
						<key>auditoryNumber</key>
						<string>К8-22</string>
					</dict>
					<dict>
						<key>startTime</key>
						<string>9:30</string>
						<key>endTime</key>
						<string>10:50</string>
						<key>classType</key>
						<string>Практична</string>
						<key>subjectName</key>
						<string>Філософія</string>
						<key>auditoryNumber</key>
						<string>К1-303</string>
					</dict>
					<dict>
						<key>startTime</key>
						<string>11:10</string>
						<key>endTime</key>
						<string>12:30</string>
						<key>classType</key>
						<string>Практична</string>
						<key>subjectName</key>
						<string>Економічна теорія</string>
						<key>auditoryNumber</key>
						<string>К8-13</string>
					</dict>
					<dict>
						<key>startTime</key>
						<string>13:00</string>
						<key>endTime</key>
						<string>14:20</string>
						<key>classType</key>
						<string>Практична</string>
						<key>subjectName</key>
						<string>Іноземна мова</string>
						<key>auditoryNumber</key>
						<string>К1-310</string>
					</dict>
				</array>
			</array>
			<array>
				<array>
					<dict>
						<key>startTime</key>
						<string>8:00</string>
						<key>endTime</key>
						<string>9:20</string>
						<key>classType</key>
						<string>Практична</string>
						<key>subjectName</key>
						<string>Фізичне виховання</string>
						<key>auditoryNumber</key>
						<string>К10</string>
					</dict>
					<dict>
						<key>startTime</key>
						<string>11:10</string>
						<key>endTime</key>
						<string>12:30</string>
						<key>classType</key>
						<string>Лекція</string>
						<key>subjectName</key>
						<string>Математичний аналіз</string>
						<key>auditoryNumber</key>
						<string>К4-204</string>
					</dict>
					<dict>
						<key>startTime</key>
						<string>13:00</string>
						<key>endTime</key>
						<string>14:20</string>
						<key>classType</key>
						<string>Лабораторна</string>
						<key>subjectName</key>
						<string>Об&apos;єктно-орієнтоване програмування
</string>
						<key>auditoryNumber</key>
						<string>К1-106</string>
					</dict>
				</array>
				<array>
					<dict>
						<key>startTime</key>
						<string>8:00</string>
						<key>endTime</key>
						<string>9:20</string>
						<key>classType</key>
						<string>Практична</string>
						<key>subjectName</key>
						<string>Фізичне виховання</string>
						<key>auditoryNumber</key>
						<string>К10</string>
					</dict>
					<dict>
						<key>startTime</key>
						<string>11:10</string>
						<key>endTime</key>
						<string>12:30</string>
						<key>classType</key>
						<string>Лекція</string>
						<key>subjectName</key>
						<string>Математичний аналіз</string>
						<key>auditoryNumber</key>
						<string>К4-204</string>
					</dict>
				</array>
			</array>
			<array>
				<array>
					<dict>
						<key>startTime</key>
						<string>8:00</string>
						<key>endTime</key>
						<string>9:20</string>
						<key>classType</key>
						<string>Лекція</string>
						<key>subjectName</key>
						<string>Об&apos;єктно-орієнтоване програмування</string>
						<key>auditoryNumber</key>
						<string>К1-101</string>
					</dict>
					<dict>
						<key>startTime</key>
						<string>9:30</string>
						<key>endTime</key>
						<string>10:50</string>
						<key>classType</key>
						<string>Лекція</string>
						<key>subjectName</key>
						<string>Об&apos;єктно-орієнтоване програмування</string>
						<key>auditoryNumber</key>
						<string>К1-101</string>
					</dict>
					<dict>
						<key>startTime</key>
						<string>11:10</string>
						<key>endTime</key>
						<string>12:30</string>
						<key>classType</key>
						<string>Практична</string>
						<key>subjectName</key>
						<string>Українська мова</string>
						<key>auditoryNumber</key>
						<string>К1-309</string>
					</dict>
				</array>
				<array>
					<dict>
						<key>startTime</key>
						<string>8:00</string>
						<key>endTime</key>
						<string>9:20</string>
						<key>classType</key>
						<string>Лекція</string>
						<key>subjectName</key>
						<string>Об&apos;єктно-орієнтоване програмування</string>
						<key>auditoryNumber</key>
						<string>К1-101</string>
					</dict>
					<dict>
						<key>startTime</key>
						<string>9:30</string>
						<key>endTime</key>
						<string>10:50</string>
						<key>classType</key>
						<string>Лекція</string>
						<key>subjectName</key>
						<string>Об&apos;єктно-орієнтоване програмування</string>
						<key>auditoryNumber</key>
						<string>К1-101</string>
					</dict>
					<dict>
						<key>startTime</key>
						<string>11:10</string>
						<key>endTime</key>
						<string>12:30</string>
						<key>classType</key>
						<string>Практична</string>
						<key>subjectName</key>
						<string>Українська мова</string>
						<key>auditoryNumber</key>
						<string>К1-309</string>
					</dict>
				</array>
			</array>
		</array>
	</array>
</dict>
</plist>
